<footer class="max-w-screen-xl mx-auto py-2 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
  <div class="mt-8 md:mt-0 md:order-1">
    <p class="text-center text-base leading-6 text-gray-400">
      &copy; <%= Date.utc_today().year %> Zest Creative, LLC <span class="hidden print:inline">bernheisel.com</span>
    </p>
  </div>
</footer>
