<%# _cheatsheet.html. eex template %>

<h2 class="text-xl font-semibold text-gray-900">Cheatsheet</h2>
<dl class="flex flex-wrap -mx-2 text-sm">
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>[abc]</code></dt>
    <dd>A single character of: a, b, or c</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>[^abc]</code></dt>
    <dd>Any single character except: a, b, or c</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>[a-z]</code></dt>
    <dd>Any single character in the range a-z</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>[a-zA-Z]</code></dt>
    <dd>Any single character in the range a-z or A-Z</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>^</code></dt>
    <dd>Start of line</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>$</code></dt>
    <dd>End of line</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\A</code></dt>
    <dd>Start of string</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\z</code></dt>
    <dd>End of string</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>.</code></dt>
    <dd>Any single character</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\s</code></dt>
    <dd>Any whitespace character</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\S</code></dt>
    <dd>Any non-whitespace character</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\d</code></dt>
    <dd>Any digit</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\D</code></dt>
    <dd>Any non-digit</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\w</code></dt>
    <dd>Any word character (letter, number, underscore)</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\W</code></dt>
    <dd>Any non-word character</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>\b</code></dt>
    <dd>Any word boundary</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>(...)</code></dt>
    <dd>Capture everything enclosed</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>(a|b)</code></dt>
    <dd>a or b</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a?</code></dt>
    <dd>Zero or one of a</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a*</code></dt>
    <dd>Zero or more of a</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a+</code></dt>
    <dd>One or more of a</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a{3}</code></dt>
    <dd>Exactly 3 of a</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a{3,}</code></dt>
    <dd>3 or more of a</dd>
  </div>
  <div class="w-full p-2 md:w-1/3">
    <dt class="font-semibold select-all"><code>a{3,6}</code></dt>
    <dd class="">Between 3 and 6 of a</dd>
  </div>
</dl>
