@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.dark [type='text'],
  html.dark [type='email'],
  html.dark [type='url'],
  html.dark [type='password'],
  html.dark [type='number'],
  html.dark [type='date'],
  html.dark [type='datetime-local'],
  html.dark [type='month'],
  html.dark [type='search'],
  html.dark [type='tel'],
  html.dark [type='time'],
  html.dark [type='week'],
  html.dark [multiple],
  html.dark textarea,
  html.dark select {
    @apply bg-gray-900;
  }

  html.dark .link:hover {
    @apply border-b border-accent-700;
    filter: brightness(1.5);
  }

  /* fira-sans-regular - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
  }
  /* fira-sans-600 - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/fira-sans-v10-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/fira-sans-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/fira-sans-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/fira-sans-v10-latin-600.woff') format('woff'), /* Modern Browsers */
        url('/fonts/fira-sans-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/fira-sans-v10-latin-600.svg#FiraSans') format('svg'); /* Legacy iOS */
  }
}

@layer components {
  .nav-link {
    @apply text-sm font-bold text-brand-50 rounded-md px-3 py-2 bg-white bg-opacity-0;
    @apply transition-colors duration-75;
    @apply hover:bg-opacity-80 hover:text-brand-900;
  }

  .nav-link.active {
    @apply text-brand-900 bg-brand-50;
  }

  html.dark .nav-link {
    @apply bg-black text-brand-50 bg-opacity-0;
    @apply hover:bg-opacity-30;
  }

  html.dark .nav-link.active {
    @apply text-brand-100 bg-brand-900;
  }

  .link {
    @apply font-medium no-underline border-b border-accent-600 duration-100 ease-in-out transition-colors;
    transition-property: filter;
  }

  .link:visited {
    filter: brightness(0.8);
  }

  .link:hover {
    @apply border-b border-accent-700;
    filter: brightness(0.5);
  }

  .hide-away {
    @apply bg-transparent focus:ring-0 focus:outline-none border-0 m-0 p-0 absolute;
    width: 1px;
    height: 1px;
  }

  /* REGEX MATCHES */

  .matches span.m {
    @apply bg-brand-200;
  }
  .matches span.m + span.u:empty + span.m {
    @apply border-l-2 border-dashed border-red-500;
  }

  html.dark .matches span.m {
    @apply bg-brand-800 text-gray-300;
  }

  html.dark .matches span.m + span.u:empty + span.m {
    @apply border-l-2 border-dashed border-red-700;
  }

  /* GENDIFF */

  .runner-line {
    line-height: 18px;
    font-family: monospace;
    font-size: 12px;
    padding: 0 4px;
    @apply bg-black text-white;
  }

  .ghd-container {
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 50px;
    @apply text-gray-300 dark:text-gray-700;
  }

  .ghd-file {
    @apply border-gray-300 dark:border-gray-700;
    @apply bg-white dark:bg-black;
    @apply text-black dark:text-gray-200;
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 1em;
  }

  .ghd-file-header {
    padding: 10px;
    @apply border-gray-200 dark:border-gray-800;
    border-bottom-width: 0.1rem;
    cursor: pointer;
    @apply bg-white dark:bg-black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  .ghd-file-header .reveal-diff {
    display: none;
    float: right;
    @apply text-gray-400 dark:text-gray-600;
  }

  .ghd-file-header .reveal-diff path {
    fill: #999;
  }

  .ghd-file-header.collapsed .reveal-diff {
    display: block;
  }

  .ghd-file-header .collapse-diff {
    display: block;
    float: right;
    @apply text-gray-400 dark:text-gray-600;
  }

  .ghd-file-header .collapse-diff path {
    fill: #999;
  }

  .ghd-file-header.collapsed .collapse-diff {
    display: none;
  }

  .ghd-chunk-header .ghd-line-number {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .ghd-line-status {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ghd-file-status {
    @apply text-gray-400 dark:text-gray-600;
    @apply border-gray-400 dark:border-gray-600;
    border-width: 1px;
    border-radius: 3px;
    padding: 0 3px;
    display: inline-block;
    text-transform: uppercase;
  }

  .ghd-file-status-removed {
    @apply text-red-500 !important;
    @apply border-red-500 !important;
  }

  .ghd-file-status-added {
    @apply text-green-800 dark:text-green-200 !important;
    @apply border-green-800 dark:border-green-200 !important;
  }

  .ghd-diff {
    @apply text-black dark:text-gray-200;
    overflow-y: hidden;
  }

  table.ghd-diff {
    width: 100%
  }

  .ghd-diff.hidden{
    display: none;
  }

  .ghd-chunk-header {
    @apply bg-gray-100 dark:bg-gray-900;
    @apply text-gray-500 dark:text-gray-600 text-opacity-30;
  }

  .ghd-line-number {
    position: absolute;
    width: 80px;
    @apply bg-white dark:bg-black;
    display: flex;
    @apply text-black dark:text-gray-200 text-opacity-30;
    cursor: pointer;
  }

  .ghd-line-number * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ghd-line.selected .ghd-line-number,
  .ghd-line.selected .ghd-line-number,
  .ghd-line.selected .ghd-text {
    @apply bg-yellow-100 dark:bg-yellow-700;
  }

  .ghd-line-number-from {
    padding-left: 10px;
  }

  .ghd-line-number-to {
    padding: 0 10px;
  }

  .ghd-line-type-add {
    @apply bg-green-50;
  }

  .dark .ghd-line-type-add {
    background-color: rgba(46, 160, 67, 0.2);
  }

  .dark .ghd-line-type-add .ghd-line-number {
    background-color: rgba(46, 160, 67, 0.1);
    color: rgb(126, 231, 135);
  }

  .ghd-line-type-add .ghd-line-number {
    @apply bg-green-100;
  }

  .ghd-line-type-remove {
    @apply bg-red-50;
  }

  .dark .ghd-line-type-remove {
    background-color: rgba(218, 54, 51, 0.2)
  }

  .ghd-line-type-remove .ghd-line-number {
    @apply bg-red-100
  }

  .dark .ghd-line-type-remove .ghd-line-number {
    color: rgb(248, 81, 73);
    background-color: rgba(218, 54, 51, 0.1);
  }

  .ghd-line-number div {
    width: 35px;
  }

  .ghd-text-internal {
    white-space: pre;
    padding: 0 90px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ghd-text-user {
    white-space: pre;
    padding: 0 90px;
  }


  /* Vim/Emacs command mode input */
  #code-editor-status [type="text"] {
    @apply py-0 px-1 text-xs focus:ring-brand-500 focus:border-brand-500;
  }

  .monaco-editor {
    border-width: 1px;
    @apply shadow-sm border-gray-300 rounded-md;
  }

  .monaco-editor.focused {
    @apply ring-1 ring-brand-500 border-brand-500;
  }

  .highlight .hll {
    background-color: #ffffcc;
  }
  .highlight {
    @apply font-mono bg-white overflow-x-auto;
    padding: 1rem;
  }

  .highlight .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .highlight .c {color: #008000; } /* :comment */
  .highlight .c1 {color: #008000; } /* :comment_single */
  .highlight .ch {color: #008000; } /* :comment_hashbang */
  .highlight .cm {color: #008000; } /* :comment_multiline */
  .highlight .cp {color: #0000ff; } /* :comment_preproc */
  .highlight .cpf {color: #0000ff; } /* :comment_preproc_file */
  .highlight .cs {color: #008000; } /* :comment_special */
  .highlight .dl {color: #a31515; } /* :string_delimiter */
  .highlight .err {border: #FF0000; } /* :error */
  .highlight .ge {font-style: italic; } /* :generic_emph */
  .highlight .gh {font-weight: bold; } /* :generic_heading */
  .highlight .gp {font-weight: bold; } /* :generic_prompt */
  .highlight .gs {font-weight: bold; } /* :generic_strong */
  .highlight .gu {font-weight: bold; } /* :generic_subheading */
  .highlight .k {color: #0000ff; } /* :keyword */
  .highlight .kc {color: #0000ff; } /* :keyword_constant */
  .highlight .kd {color: #0000ff; } /* :keyword_declaration */
  .highlight .kn {color: #0000ff; } /* :keyword_namespace */
  .highlight .kp {color: #0000ff; } /* :keyword_pseudo */
  .highlight .kr {color: #0000ff; } /* :keyword_reserved */
  .highlight .kt {color: #2b91af; } /* :keyword_type */
  .highlight .nc {color: #2b91af; } /* :name_class */
  .highlight .ow {color: #0000ff; } /* :operator_word */
  .highlight .s {color: #a31515; } /* :string */
  .highlight .s1 {color: #a31515; } /* :string_single */
  .highlight .s2 {color: #a31515; } /* :string_double */
  .highlight .sa {color: #a31515; } /* :string_affix */
  .highlight .sb {color: #a31515; } /* :string_backtick */
  .highlight .sc {color: #a31515; } /* :string_char */
  .highlight .sd {color: #a31515; } /* :string_doc */
  .highlight .se {color: #a31515; } /* :string_escape */
  .highlight .sh {color: #a31515; } /* :string_heredoc */
  .highlight .si {color: #a31515; } /* :string_interpol */
  .highlight .sr {color: #a31515; } /* :string_regex */
  .highlight .ss {color: #a31515; } /* :string_symbol */
  .highlight .sx {color: #a31515; } /* :string_other */
  .highlight .sx {color: #a31515; } /* :string_sigil */


  .dark .highlight .hll {background-color: #49483e}
  .dark .highlight {
    color: #f8f8f2;
    background-color: #272822
  }

  .dark .highlight .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .dark .highlight .bp {color: #f8f8f2; } /* :name_builtin_pseudo */
  .dark .highlight .c {color: #75715e; } /* :comment */
  .dark .highlight .c1 {color: #75715e; } /* :comment_single */
  .dark .highlight .ch {color: #75715e; } /* :comment_hashbang */
  .dark .highlight .cm {color: #75715e; } /* :comment_multiline */
  .dark .highlight .cp {color: #75715e; } /* :comment_preproc */
  .dark .highlight .cpf {color: #75715e; } /* :comment_preproc_file */
  .dark .highlight .cs {color: #75715e; } /* :comment_special */
  .dark .highlight .dl {color: #e6db74; } /* :string_delimiter */
  .dark .highlight .err {color: #960050; background-color: #1e0010; } /* :error */
  .dark .highlight .fm {color: #a6e22e; } /* :name_function_magic */
  .dark .highlight .gd {color: #f92672; } /* :generic_deleted */
  .dark .highlight .ge {font-style: italic; } /* :generic_emph */
  .dark .highlight .gi {color: #a6e22e; } /* :generic_inserted */
  .dark .highlight .gs {font-weight: bold; } /* :generic_strong */
  .dark .highlight .gu {color: #75715e; } /* :generic_subheading */
  .dark .highlight .il {color: #ae81ff; } /* :number_integer_long */
  .dark .highlight .k {color: #66d9ef; } /* :keyword */
  .dark .highlight .kc {color: #66d9ef; } /* :keyword_constant */
  .dark .highlight .kd {color: #66d9ef; } /* :keyword_declaration */
  .dark .highlight .kn {color: #f92672; } /* :keyword_namespace */
  .dark .highlight .kp {color: #66d9ef; } /* :keyword_pseudo */
  .dark .highlight .kr {color: #66d9ef; } /* :keyword_reserved */
  .dark .highlight .kt {color: #66d9ef; } /* :keyword_type */
  .dark .highlight .l {color: #ae81ff; } /* :literal */
  .dark .highlight .ld {color: #ae81ff; } /* :literal_date */
  .dark .highlight .m {color: #ae81ff; } /* :number */
  .dark .highlight .mb {color: #ae81ff; } /* :number_bin */
  .dark .highlight .mf {color: #ae81ff; } /* :number_float */
  .dark .highlight .mh {color: #ae81ff; } /* :number_hex */
  .dark .highlight .mi {color: #ae81ff; } /* :number_integer */
  .dark .highlight .mo {color: #ae81ff; } /* :number_oct */
  .dark .highlight .n {color: #f8f8f2; } /* :name */
  .dark .highlight .na {color: #a6e22e; } /* :name_attribute */
  .dark .highlight .nb {color: #f8f8f2; } /* :name_builtin */
  .dark .highlight .nc {color: #a6e22e; } /* :name_class */
  .dark .highlight .nd {color: #a6e22e; } /* :name_decorator */
  .dark .highlight .ne {color: #a6e22e; } /* :name_exception */
  .dark .highlight .nf {color: #a6e22e; } /* :name_function */
  .dark .highlight .ni {color: #f8f8f2; } /* :name_entity */
  .dark .highlight .nl {color: #f8f8f2; } /* :name_label */
  .dark .highlight .nn {color: #f8f8f2; } /* :name_namespace */
  .dark .highlight .no {color: #66d9ef; } /* :name_constant */
  .dark .highlight .nt {color: #f92672; } /* :name_tag */
  .dark .highlight .nv {color: #f8f8f2; } /* :name_variable */
  .dark .highlight .nx {color: #a6e22e; } /* :name_other */
  .dark .highlight .o {color: #f92672; } /* :operator */
  .dark .highlight .ow {color: #f92672; } /* :operator_word */
  .dark .highlight .p {color: #f8f8f2; } /* :punctuation */
  .dark .highlight .py {color: #f8f8f2; } /* :name_property */
  .dark .highlight .s {color: #e6db74; } /* :string */
  .dark .highlight .s1 {color: #e6db74; } /* :string_single */
  .dark .highlight .s2 {color: #e6db74; } /* :string_double */
  .dark .highlight .sa {color: #e6db74; } /* :string_affix */
  .dark .highlight .sb {color: #e6db74; } /* :string_backtick */
  .dark .highlight .sc {color: #e6db74; } /* :string_char */
  .dark .highlight .sd {color: #e6db74; } /* :string_doc */
  .dark .highlight .se {color: #ae81ff; } /* :string_escape */
  .dark .highlight .sh {color: #e6db74; } /* :string_heredoc */
  .dark .highlight .si {color: #e6db74; } /* :string_interpol */
  .dark .highlight .sr {color: #e6db74; } /* :string_regex */
  .dark .highlight .ss {color: #e6db74; } /* :string_symbol */
  .dark .highlight .sx {color: #e6db74; } /* :string_other */
  .dark .highlight .sx {color: #e6db74; } /* :string_sigil */
  .dark .highlight .vc {color: #f8f8f2; } /* :name_variable_class */
  .dark .highlight .vg {color: #f8f8f2; } /* :name_variable_global */
  .dark .highlight .vi {color: #f8f8f2; } /* :name_variable_instance */
  .dark .highlight .vm {color: #f8f8f2; } /* :name_variable_magic */
}

/* Tailwind applies the Ring colors to box-shadow which makes a
* small little box in the Monaco editor. Hide that */
.monaco-mouse-cursor-text {
  box-shadow: none !important;
}

.monaco-editor textarea:focus {
  box-shadow: none !important;
}

/* The default VS theme has a white background which makes it
* look boxy. This makes the background transparent to let
* the container have the background color and border */
.monaco-editor-background {
  background-color: transparent !important;
}

.monaco-editor .margin {
  background-color: transparent !important;
}

.monaco-editor-background {
  background-color: transparent !important;
}

.monaco-cursor-widget-container {
  pointer-events: none;
  z-index: 100;
}

.monaco-cursor-widget-container .monaco-cursor-widget-cursor {
  pointer-events: initial;
  width: 2px;
}

.monaco-cursor-widget-container .monaco-cursor-widget-label {
  pointer-events: initial;
  transform: translateY(-200%);
  white-space: nowrap;
  padding: 1px 8px;
  font-size: 12px;
  color: #f8fafc;

  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 1.5s;
}

.monaco-cursor-widget-container .monaco-cursor-widget-label:hover {
  visibility: visible;
}

.monaco-cursor-widget-container
  .monaco-cursor-widget-cursor:hover
  + .monaco-cursor-widget-label {
  visibility: visible;
  transition-delay: 0s;
}

/* When in the first line, we want to display cursor and label in the same line */
.monaco-cursor-widget-container.inline {
  display: flex !important;
}

.monaco-cursor-widget-container.inline .monaco-cursor-widget-label {
  margin-left: 2px;
  transform: none;
}
