.error-input {
  @apply font-semibold text-red-500;
}

.link {
  @apply font-medium no-underline border-b border-accent-600 duration-100 ease-in-out transition-colors;
  transition-property: filter;
}

.link:visited {
  filter: brightness(0.8);
}

.link:hover {
  @apply border-b border-accent-700;
  filter: brightness(0.5);
}

.hide-away {
  @apply bg-transparent focus:ring-0 focus:outline-none border-0 m-0 p-0 absolute;
  width: 1px;
  height: 1px;
}

html.dark [type='text'],
html.dark [type='email'],
html.dark [type='url'],
html.dark [type='password'],
html.dark [type='number'],
html.dark [type='date'],
html.dark [type='datetime-local'],
html.dark [type='month'],
html.dark [type='search'],
html.dark [type='tel'],
html.dark [type='time'],
html.dark [type='week'],
html.dark [multiple],
html.dark textarea,
html.dark select {
  @apply bg-gray-900;
}

html.dark .link:hover {
  @apply border-b border-accent-700;
  filter: brightness(1.5);
}
