.error-input {
  @apply font-semibold text-red-500;
}

.link {
  @apply font-medium no-underline border-b border-accent-600 duration-100 ease-in-out transition-colors;
  transition-property: filter;
}

.link:visited {
  filter: brightness(0.8);
}

.link:hover {
  @apply border-b border-accent-700;
  filter: brightness(0.5);
}

.hide-away {
  @apply bg-transparent focus:ring-0 focus:outline-none border-0 m-0 p-0 absolute;
  width: 1px;
  height: 1px;
}
