.runner-line {
  line-height: 18px;
  font-family: monospace;
  font-size: 12px;
  padding: 0 4px;
  @apply bg-black text-white;
}

.ghd-container {
  font-family: Menlo, Consolas, monospace;
  font-size: 13px;
  border-radius: 5px;
  margin-bottom: 50px;
  @apply text-gray-300 dark:text-gray-700;
}

.ghd-file {
  @apply border-gray-300 dark:border-gray-700;
  @apply bg-white dark:bg-black;
  @apply text-black dark:text-gray-200;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 1em;
}

.ghd-file-header {
  padding: 10px;
  @apply border-gray-200 dark:border-gray-800;
  border-bottom-width: 0.1rem;
  cursor: pointer;
  @apply bg-white dark:bg-black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.ghd-file-header .reveal-diff {
  display: none;
  float: right;
  @apply text-gray-400 dark:text-gray-600;
}

.ghd-file-header .reveal-diff path {
  fill: #999;
}

.ghd-file-header.collapsed .reveal-diff {
  display: block;
}

.ghd-file-header .collapse-diff {
  display: block;
  float: right;
  @apply text-gray-400 dark:text-gray-600;
}

.ghd-file-header .collapse-diff path {
  fill: #999;
}

.ghd-file-header.collapsed .collapse-diff {
  display: none;
}

.ghd-chunk-header .ghd-line-number {
  @apply bg-gray-50 dark:bg-gray-900;
}

.ghd-line-status {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ghd-file-status {
  @apply text-gray-400 dark:text-gray-600;
  @apply border-gray-400 dark:border-gray-600;
  border-width: 1px;
  border-radius: 3px;
  padding: 0 3px;
  display: inline-block;
  text-transform: uppercase;
}

.ghd-file-status-removed {
  @apply text-red-500 !important;
  @apply border-red-500 !important;
}

.ghd-file-status-added {
  @apply text-green-800 dark:text-green-200 !important;
  @apply border-green-800 dark:border-green-200 !important;
}

.ghd-diff {
  @apply text-black dark:text-gray-200;
  overflow-y: hidden;
}

table.ghd-diff {
  width: 100%
}

.ghd-diff.hidden{
  display: none;
}

.ghd-chunk-header {
  @apply bg-gray-100 dark:bg-gray-900;
  @apply text-gray-500 dark:text-gray-600 text-opacity-30;
}

.ghd-line-number {
  position: absolute;
  width: 80px;
  @apply bg-white dark:bg-black;
  display: flex;
  @apply text-black dark:text-gray-200 text-opacity-30;
  cursor: pointer;
}

.ghd-line-number * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ghd-line.selected .ghd-line-number,
.ghd-line.selected .ghd-line-number,
.ghd-line.selected .ghd-text {
  @apply bg-yellow-100 dark:bg-yellow-700;
}

.ghd-line-number-from {
  padding-left: 10px;
}

.ghd-line-number-to {
  padding: 0 10px;
}

.ghd-line-type-add {
  @apply bg-green-50;
}

.dark .ghd-line-type-add {
  background-color: rgba(46, 160, 67, 0.2);
}

.dark .ghd-line-type-add .ghd-line-number {
  background-color: rgba(46, 160, 67, 0.1);
  color: rgb(126, 231, 135);
}

.ghd-line-type-add .ghd-line-number {
  @apply bg-green-100;
}

.ghd-line-type-remove {
  @apply bg-red-50;
}

.dark .ghd-line-type-remove {
  background-color: rgba(218, 54, 51, 0.2)
}

.ghd-line-type-remove .ghd-line-number {
  @apply bg-red-100
}

.dark .ghd-line-type-remove .ghd-line-number {
  color: rgb(248, 81, 73);
  background-color: rgba(218, 54, 51, 0.1);
}

.ghd-line-number div {
  width: 35px;
}

.ghd-text-internal {
  white-space: pre;
  padding: 0 90px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ghd-text-user {
  white-space: pre;
  padding: 0 90px;
}
