<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Developer Utilities</title>
  <meta name="description" content="Utilities to help the everyday developer. Includes: Regex Tester, HTTP sink. Generator output diffing. Made with ❤ with Elixir" />
  <link rel="canonical" href={"https://utils.zest.dev#{Phoenix.Controller.current_path(@conn)}"} />
  <link rel="stylesheet" href={~p"/assets/app.css"} />
  <link rel="apple-touch-icon" sizes="180x180" href={~p"/images/apple-touch-icon.png"} />
  <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"} />
  <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"} />
  <link rel="mask-icon" href={~p"/images/safari-pinned-tab.svg"} color="#5bbad5" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="color-scheme" content="dark light" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="theme-color" content="#7A12CE" />
  <meta name="csrf-token" content={get_csrf_token()} />
  <script defer type="text/javascript" src={~p"/assets/app.js"}>
  </script>
  <%= if Application.get_env(:utility, :app_env) == :prod do %>
    <script async data-domain="utils.zest.dev" src="https://plausible.zest.dev/js/index.js">
    </script>
  <% end %>

  <script>
    if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
      document.documentElement.classList.add("dark")
    } else {
      document.documentElement.classList.remove("dark")
    }
  </script>
</head>
